<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-label>{{ product.name }}</ion-label>
      <ion-label>{{ product.price }}</ion-label>
      <ion-label>{{ product.quantity }}</ion-label>
      <app-delete-product 
      [productId]="product.id ?? ''" 
        (productDeleted)="onProductDeleted($event)">
      </app-delete-product>
    </ion-item>
  </ion-list>
</ion-content>
